* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.header h2{
    font-size : 30px;
    text-shadow:  1px 1px 2px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255), 1px 1px 3px rgb(255, 255, 255)
    ,1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
    position: relative;
    top : 1px;

    width : 92%;
    margin: auto;
    border-bottom : 2px solid white;
}
.container {
    width: 98%;
    height: 640px;
    margin: auto;
    /* background-color: rgb(125, 12, 218); */
    box-shadow: 0 0 7px gray;
    /* background-color: rgb(0, 47, 255); */

}

.inner-container {
    /* background-color: rgb(125, 12, 218); */
    background-color: rgb(255, 12, 214);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.items {
    width: 100%;
    align-content: center;
}

.controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.controls-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position : relative;
}
.controls-btn:first-child {
    top : -10px;
}

.btn{
    position: relative;
}
.btn:hover{
    opacity : 0.9;
    border : 1px solid gray;
}
.shuffle{
    left : -26px;
}
.repeat{
    left : 26px;
}

.controls-btn img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
}

input {
    padding: 15px;
    background-color: gray;
}
input:hover {
    background-color: rgb(248, 248, 248);
}

.song-label {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-variant: small-caps;
    background-color: rgb(255, 255, 255);
    
}
#song-name{
    color  : red;
}

.circle{
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: linear-gradient(45deg, rgb(10, 255, 22), rgb(255, 251, 0)); */


}


.round-circle{
    background-image: linear-gradient(45deg, rgb(255, 10, 194), rgb(0, 217, 255));
    width: 140px;
    height: 140px;
    border-radius: 50%;
    animation: animate 3s infinite linear;
    -webkit-animation: animate 3s infinite linear;
    /* animation-play-state:running; */
}

@keyframes animate {
    
    from{
        transform:  rotate(360deg);
    }
}

.song-list-page{
    display: none;
    justify-content: center;
    align-items: space-around;
}

.song-list-page .header{
    width: 92%;
    /* border-bottom : 2px solid white; */
    position: absolute;
    top : 15px;
}
.songs-list{
    height : 500px;
    position : relative;
    top  : 70px;
    justify-content: center;
    align-items: space-around;
    overflow:  scroll;
}
.songs-list .song{
    width : 100%;
    border-bottom : 1px solid white !important;
    padding : 10px;
    margin-top : 4px;

    text-align: left;;
}

